:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: Raleway, sans-serif;
  --akcent-color: #2196f3;
  --first-colour: #ffffff;
  --second-colour: #757575;
  --third-colour: #212121;
  --fourth-colour: #000000;
  --fives-colour: #eeeeee;
  --background-colour: #2f303a;
  --secondary-bg-colour: #f5f4fa;
  --vectorsbg: #f5f4fa;
  --vectors: #afb1b8;
  --footervectorsbg: rgba(255, 255, 255, 0.1);
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.partners__container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.model-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 200px;
  letter-spacing: 0.06em;
  color: var(--first-colour);
  padding: 10px 32px;
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover, .model-btn:focus {
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn1 {
  background: var(--secondary-bg-colour);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  letter-spacing: 0.03em;
  border-width: 2px;
  color: var(--third-colour);
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn1:hover, .model-btn1:focus {
  background-color: var(--akcent-color);
  color: var(--first-colour);
  border-color: var(--akcent-color);
  border-width: 2px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn1:active {
  box-shadow: none;
}

.sign__btn {
  width: 200px;
  height: 50px;
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-colour);
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .sign__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-light-teme {
  color: var(--fourth-colour);
}

.logo-dark-teme {
  color: var(--first-colour);
}

.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--first-colour);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--vectors);
}

.social__list-link:focus, .social__list-link:hover {
  fill: var(--first-colour);
  background-color: var(--akcent-color);
}

.social {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.social__list-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list-item {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  height: 294px;
  left: 0;
  top: 0;
  transform: translateY(101%);
  transition: transform 250ms;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--first-colour);
  overflow: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 250ms linear, opacity 250ms linear;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--first-colour);
  padding: 40px;
}

.modal__close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-position: top;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--akcent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.model__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--third-colour);
  display: block;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-colour 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  outline: none;
  border-color: var(--akcent-color);
}

.modal__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: background-colour 250ms;
}

.modal__input:focus + .modal__icon {
  fill: var(--akcent-color);
}

.modal__field {
  margin-bottom: 4px;
  position: relative;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__field:not(:first-child) {
  margin-top: 10px;
}

.modal__wraper {
  position: relative;
  display: block;
}

.modal__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message:focus {
  border-color: var(--akcent-color);
  outline: none;
}

.modal__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-field_commentaries {
  margin-top: 10px;
  margin-bottom: 4px;
  position: relative;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__check-desc {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--third-colour);
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.modal__term:checked + .modal__check-desc::before {
  background-image: url(../images/chekbox/icon-check.svg);
  background-position: center;
  background-color: var(--akcent-color);
  background-position: top;
  display: flex;
  align-items: center;
}

.modal__term:focus + .modal__check-desc {
  border-color: var(--akcent-color);
}

.modal__check-desk-link {
  color: var(--akcent-color);
}

.modal-form-btn {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-colour);
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
  border: 0;
}

.modal-checkbox_line {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.checkbox-icon {
  position: absolute;
  display: block;
  bottom: 129px;
  left: 40px;
  transform: translateY(-50%);
}

.modal__term {
  position: relative;
  display: block;
}

.user-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-colour);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.cardset__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardset__link:hover,
.cardset__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cardset__meta {
  background-color: var(--first-colour);
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: var(--fives-colour) 1px solid;
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.cardset__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
  margin-left: 30px;
}

.cardset__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cardset__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

link {
  display: block;
}

link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cardset__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-colour);
  margin-bottom: 4px;
}

.about-border {
  border: solid 1px;
  border-top: none;
}

.cardset__wraper {
  position: relative;
  overflow: hidden;
}

.cardset__link:hover.overlay,
.cardset__link:focus.overlay {
  transform: translateY(0%);
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--first-colour);
  border-bottom: var(--fives-colour) 1px solid;
}

.header-icons-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.menu__active-page {
  color: var(--akcent-color);
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__active-page:visited {
  color: var(--akcent-color);
}

.header-icons {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact__links-item {
  fill: var(--vectors);
}

.contact__links-item:hover, .contact__links-item:focus {
  color: var(--akcent-color);
  fill: #2196f3;
}

.contact__links-item:not(:last-child) {
  margin-left: auto;
  margin-right: 30px;
}

.img-about {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.logo-text-header {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-colour);
}

.menu__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--third-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:active {
  color: var(--akcent-color);
}

.menu__active-page::after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: var(--akcent-color);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__active-page::after {
  opacity: 1;
  border-radius: 2px;
  height: 4px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--vectors);
  fill: var(--vectors);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .header-icons,
.contact__link:focus .header-icons, .contact__link:hover, .contact__link:focus {
  color: var(--akcent-color);
  fill: var(--akcent-color);
}

.header-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.herro {
  background-color: var(--background-colour);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herro/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.herro__link {
  border-radius: 4px;
}

.herro__link:not(:last-child) {
  margin-right: 8px;
}

.herro__portfolio {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

.herro__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--first-colour);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.herro__list {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-icons {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--vectorsbg);
  align-items: center;
}

.features__list {
  display: flex;
}

.features__mini-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-colour);
  margin-bottom: 10px;
}

.features__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-colour);
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--first-colour);
}

.we-do__overlay {
  width: 100%;
  height: 70px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-colour);
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.we-do__list {
  display: flex;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--third-colour);
}

.we-do__about {
  padding-bottom: 94px;
  padding-top: 47px;
}

.we-do__item {
  margin-right: 30px;
  position: relative;
}

.team {
  background-color: var(--secondary-bg-colour);
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background: var(--second-colour);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--first-colour);
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-colour);
  margin-bottom: 10px;
}

.team__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-colour);
  margin-bottom: 30px;
}

.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.partners__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover .partners__icon {
  fill: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--vectors);
  width: 170px;
  height: 90px;
  border: 1px solid var(--vectors);
  border-radius: 4px;
}

.partners__link:hover {
  border: 1px solid var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:focus {
  border: 1px solid var(--akcent-color);
  outline: none;
}

.partners__list {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: var(--background-colour);
  padding: 60px 0;
}

.adress {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer__wraper {
  margin-right: 70px;
}

.adress__link {
  display: block;
  white-space: nowrap;
  color: var(--first-colour);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover, .adress__link:focus {
  color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts {
  display: block;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:hover, .footer__contacts:focus {
  color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adreess__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__wraper-social {
  width: 206px;
  height: 80px;
}

.icon__list {
  display: flex;
  justify-content: space-between;
}

.icon__item {
  box-sizing: inherit;
  justify-content: space-between;
}

.icon__item:not(:last-child) {
  margin-right: 10px;
}

.icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footervectorsbg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__link:hover, .icon__link:focus {
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icons {
  fill: var(--first-colour);
}

.invitation {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-colour);
  margin-bottom: 20px;
}

.signup__text {
  width: 219px;
  height: 16px;
  left: 815px;
  top: 2749px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-colour);
}

.footer form {
  display: inline-block;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  margin-right: 12px;
  text-align: center;
  color: var(--first-colour);
}

footer input {
  background-color: var(--grey-bgc);
  border: none;
  color: var(--secondary-accent-color);
  outline: none;
  width: 100%;
}

.signup__wrap {
  align-items: center;
  display: flex;
}

.signup__wrap .footer__icons {
  margin-left: 10px;
}

.footer__form {
  margin-left: 93px;
}

.main-footer-list {
  display: flex;
}

.logo-dark-teme {
  color: var(--first-colour);
}
/*# sourceMappingURL=main.css.map */