.features-icons {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  // width: 450px;
  height: 120px;
  background-color: var(--vectorsbg);
  align-items: center;
}
@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
.features__mini-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-colour);
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}
.features__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-colour);
  text-align: center;
}
.features__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-colour);

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2);
  }

  @media (min-width: 1200px) {
    display: block;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: 60px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

// @media screen and(min-width:768px) and(max-width:1023px) {
//   .features__mini-title {
//     text-align: left;
//   }
//   .features__item {
//     flex-basis: calc(100% / 2);
//   }
// }
// @media screen and (min-width: 1024px) and(max-width:1600) {
//   .features {
//     padding-top: 94px;
//     padding-bottom: 47px;
//   }

//   .features-icons {
//     margin-bottom: 30px;
//     justify-content: center;
//     display: flex;
//     width: 270px;
//     height: 120px;
//     background-color: var(--vectorsbg);
//     align-items: center;
//   }
//   .features__item {
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.03em;
//     color: var(--second-colour);
//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }
// }
