.herro {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-colour);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/tel/hero/1x/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/tel/hero/2x/img@2x.jpg);
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/tablet/hero/1x/img.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/tablet/hero/2x/img@2x.jpg);
  }

  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/comp/hero/2x/hero@2x.img.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/comp/hero/2x/hero@2x.img.jpg);
  }
}

.herro__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-colour);

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.herro__link {
  border-radius: 4px;
  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 20px;
  }
}

.herro__portfolio {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

// .herro__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;

//   color: var(--first-colour);
//   margin-bottom: 30px;

//   text-transform: uppercase;
// }

.herro__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    justify-content: center;
  }

  @media (min-width: 1200px) {
    display: flex;
    margin-bottom: 56px;
    justify-content: center;
  }
}
