.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features-icons {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--vectorsbg);
  align-items: center;
}

.features__list {
  display: flex;
}
.features__mini-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-colour);
  margin-bottom: 10px;
}
.features__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-colour);
}
