.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 1200px) {
    width: 100%;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.header__container {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    
    flex-direction: row;
    align-items: center;
  }
  @media (min-width: 1200px) {
    margin: 0 auto;
    
  }
}
