:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: Raleway, sans-serif;
  --akcent-color: #2196f3;
  --first-colour: #ffffff;
  --second-colour: #757575;
  --third-colour: #212121;
  --fourth-colour: #000000;
  --fives-colour: #eeeeee;
  --background-colour: #2f303a;
  --secondary-bg-colour: #f5f4fa;
  --vectorsbg: #f5f4fa;
  --vectors: #afb1b8;
  --footervectorsbg: rgba(255, 255, 255, 0.1);
}
